/Examples
/GEP/Exemples
/TFM Juan Pablo
/PruebasHaskell/project
/PruebasHaskell/.stack-work
/PruebasHaskell/experiments/IEBT/bt-graph-dpNew/experiments
/PruebasHaskell/experiments/IEBT/bt-graph-dpOld/experiments
